//$mainFont: 'Lato', sans-serif;
$mainFont: 'Pontano Sans', sans-serif;

// colors (adobe cream soda palette)
$NavLinks: 33%;
$primaryColor: #739C9b;
$secondaryColor: #9c8b82;
$tertiaryColor: #E8DFDA;
$activeColor: #ffffff;
$inactiveColor: #e8dfda;
$hoverColor: #ffffff;
$textColor: #880c30;
//#34495e

// heights/widths
$menuHeight: 75px;
$menuFontSize: 25px;

$bp1MenuHeight: 60px;
$bp1MenuFontSize: 20px;

$bp2MenuHeight: 45px;
$bp2MenuFontSize: 15px;
