@import '../styles/variables';
*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  box-sizing: border-box;
}
a{
  color: $inactiveColor;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 3;

  &:hover, &:active{
    color: $activeColor;
    text-shadow: 0 0 4px $activeColor;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.app{
position: absolute;
top: 0;
overflow: auto;
width: 100%;
}

.pointer{
  cursor: pointer;
}
.center-text{
  text-align: center;
}
.leftNav-icon{
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 24px;
  padding: 10px;
  transform: scale(1) translate(0,-5px);
  transition: transform .4s ease;
  z-index: 100;
}
.leftNav{
  float: left;
}
.rightNav-icon{
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 24px;
  padding: 10px;
  transform: scale(1) translate(0,-5px);
  transition: transform .4s ease;
  z-index: 100;
}
.rightNav-icon:hover, .leftNav-icon:hover{
  transform: scale(1.2) translate(0,-5px);
}
.rightNav{
  float: right;
}
/*** Front Page Styles ***/
.frontpage{
  text-align: center;
  position: relative;
  min-height: 100vh;
    h1{
      color: $primaryText;
      font-size: 48px;
      padding-top: 45px;
      margin-bottom: 0;
      margin-top: 0;
    }
    h3{
      color: $primaryText;
      padding-bottom: 32px;
      font-size: 1.75rem;
      margin-top: 0;
      margin-bottom: .5rem;
    }
    p{
      text-align: left;
    }
    .col-2{
      width: 50%;
      float: left;
    }
    .downNav{
      display: inline-block;
      position: absolute;
      bottom: 20px;
      cursor: pointer;
      transform: translate(-50%);
    }
    .downNav-icon{
      display: inline-block;
      border: 2px solid $primaryText;
      border-radius: 50%;
      font-size: 24px;
      padding: 10px;
      transform: scale(1);
      transition: transform .4s ease;
      z-index: 100;
    }
    .downNav-icon:hover{
      transform: scale(1.2);
    }
    #about{
      padding-bottom: 25px;
    }
    .col-2{
      padding: 10px;
    }
    /* Image Flip CSS */
    #myLogo, #myPic{
      opacity: 1;
      width: 100%;
      height: 100%;
    }
    .img-circle{
      border-radius: 50%;
    }
    /* entire container, keeps perspective */
    .flip-container {
        -webkit-perspective: 1000px;
                perspective: 1000px;
                width: 33%;
                max-width: 200px;
    }
    .flip-container, .front, .back {
        margin-left: auto;
        margin-right: auto;
    }
    .flipper {
        -webkit-transition: 0.6s;
        transition: 0.6s;
      	-webkit-transform-style: preserve-3d;
      	        transform-style: preserve-3d;
        position: relative;
    }
    .front, .back {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

        -webkit-transition: 0.6s;

        transition: 0.6s;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
    }
    .flip{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    .back {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
              position: absolute;
              top: 0;
              left: 0;
    }
    .front {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        z-index: 2;
    }
}
/*** End Front Page Styles ***/
/*** Start Portfolio Styles ***/
.projects{
  h1{
  background-color: $accentColor;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  }
  h3{
    text-align: center;
    font-weight: bold;
  }
  .gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cell{
    position: relative;
    flex: 1 1 auto;
    margin: 0;
    width: 50%;
    background: $inactiveColor;
  }
  .cell:after {
    vertical-align: top;
    padding-top: 75%;
    display: inline-block;
    content: '';
  }
  .caption {
    color: #ffffff;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgb(50,50,50); /* for IE */
    background: rgba(50,50,50,0.8);
    opacity: 1;
    transition: opacity .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caption .about {
    text-align: center;
    color: #fefefe;
    font-weight: normal;
  }
  .overlay{
  	position: fixed;
    overflow: scroll;
    width: 80%;
  	top: 50%;
  	left: 50%;
  	background: $tertiaryColor;
    z-index: 11;
    h1{
      background-color: $primaryText;
      color: #ffffff;
    }
    a{
      color: $primaryText;
      font-size: 1.25rem;
    }
  }
  .overlay-scale{
    visibility: hidden;
    opacity: 0;
    transform: scale(.75);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  }
  .open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform: translate(-50%, -50%);
    transition: opacity 0.4s, visibility .2s, transform .2s;
  }
  .skill{
    float: left;
    background-color: $accentColor;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
  }
  .padded {
    padding: 20px;
  }
  #aboutProj{
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  .bigIcon{
    font-size: 48px;
  }

}
/*** End Portfolio Styles ***/
/*** Start Contact Styles ***/
.contact{
  width: 100%;
  height: 100vh;
  h1{
    background-color: $secondaryColor;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 2em;
  }
  h2{
    color: $primaryText;
  }
  .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    a div h2{
      margin: 0;
    }
  }
  .circle{
    flex: 0 0 auto;
    width: 130px;
    height: 130px;
    border: 6px solid $secondaryColor;
    border-radius: 50%;
    margin: 50px 50px 0 50px;
    background-color: $inactiveColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    transition: transform .4s ease;
  }
  .circle:hover{
    transform: scale(1.1);
  }
  .mapCanvas{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    min-height: 40%;
  }
}
/*** End Contact Styles ***/
@media only screen and (min-width : 1051px) {
 .frontpage p, .frontpage h3{
   padding-left: 10%;
   padding-right: 10%;
 }
}
@media only screen and (max-width: 650px){
  .projects{
    .cell{
      width: 100%;
    }
  }
  .contact{
    .circle{
    width: 100px;
    height: 100px;
    margin: 30px 30px 0 30px;
    }
  }
}
@media only screen and (max-width : 500px) {
  .frontpage{
    p{
      margin-top: 0;
      margin-bottom: 0;
    }
    h1{
      padding-top: 25px;
      font-size: 40px;
    }
    h3{
      padding-bottom: 5px;
    }
    .col-2{
      width: 100%;
      h3{
        font-size: 20px;
      }
      p{
        font-size: 14px;
      }
    }
    .downNav{
      bottom: 5px;
    }
    .downNav-icon,.leftNav-icon, .rightNav-icon{
      padding: 5px;
    }
  }
  .projects{
    h1 {
      font-size: 24px;
    }
    .cell{
      width: 100%;
    }
  }
  .contact{
    .circle{
    width: 60px;
    height: 60px;
    margin: 40px 40px 0 40px;
    font-size: 28px;
    border: 4px solid $secondaryColor;
    }
    h1{
      font-size: 24px;
    }
  }
 }
 @media screen and (max-width:399px){
   .overlay{
     top: $bp2MenuHeight;
     h1{
       font-size: 24px;
     }
   }
   .projects{
     h1 {
       font-size: 20px;
       padding-left: 5px;
       padding-right: 5px;
     }
     .cell{
       width: 100%;
     }
     .downNav-icon,.leftNav-icon, .rightNav-icon{
       padding: 5px;
     }
   }
   .padded{
     padding: 10px;
     font-size: 14px;
   }
   .contact{
     .circle{
     width: 60px;
     height: 60px;
     margin: 20px 20px 0 20px;
     font-size: 28px;
     border: 4px solid $secondaryColor;
     }
     h1 {
       font-size: 20px;
       padding-left: 5px;
       padding-right: 5px;
     }
     .leftNav-icon, .rightNav-icon{
       padding: 5px;
     }
   }
 }
